
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    }
input{
    background-color: #FFFFFF;
    border: 2px solid #D3D3D3;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    color: brown;
    padding: 10px;
    margin-top: 1.5em;
    }
.heading{
    text-align:center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
#cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
.cards{
    width:23%;
    box-shadow: 0 0 4px 3px rgb(77, 1, 7);
    text-align: center;
    padding:1.5em;
    margin-bottom:2em;
    }
.images{
    width:80%;
    }
.title{
    font-size: 1.3rem;;
    }
.category,.price{
    font-weight: bold;
    text-transform: capitalize;
    margin: 1em;
    font-size: 1.2rem;;
    }    
body{
    background-color: white;
    color: brown;
}    
.grid-container {
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
  }
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 550px;
    height: 950px;
    text-align: center;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    color: brown;
    background-color: rgb(202, 91, 91);
    
}
